@page
@model Scenario_2_Web_Application_Sandra_Nissan.Pages.Employees.AddNewEmployeeModel
@{
}

<br>
<h2>New Employee</h2>

<form method="POST">

	@if (Model.errorMessage.Length > 0)
	{
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>@Model.errorMessage</strong>
			<button type ="button" class="btn-close" data-bs-dismiss = "alert" aria-label="Close"></button>
		</div>
	}


	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">First Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="firstName" value="@Model.employeeInfo.FirstName">
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Last Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="lastName" value="@Model.employeeInfo.LastName">
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Rank</label>
		<div class="col-sm-6">
			<input type="number" min="1" max="999" class="form-control" name="rank" value="@Model.employeeInfo.Rank">
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Is Manager</label>
		<div class="col-sm-6">
			<input type="checkbox" name="isManager" value="@Model.employeeInfo.IsManager">
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Is CEO</label>
		<div class="col-sm-6">
			<input type="checkbox" name="isCEO" value="@Model.employeeInfo.isCEO">
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Manager Id</label>
		<div class="col-sm-6">
			@*<asp:DropDownList ID="dropDownManager" runat="server" Width="100px"> </asp:DropDownList>*@
			<input type="number" class="form-control" name="managerId" value="@Model.employeeInfo.ManagerId">
		</div>
	</div>


	@if (Model.successMessage.Length > 0){
		<div class="row mb-3">
			<div class="col-sm-9">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<strong>@Model.successMessage</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	</div>
	}




	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Add</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
		</div>
	</div>
</form>
